@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.product{
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 20px;
    
    &__header{
        h2 {
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 107%;
            /* or 43px */

            letter-spacing: 0.04em;

            color: #FFFFFF;
        }
        a {
            margin: 10px 0 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 77px;
            height: 27px;
            border: 1px solid #DA00FE;
            border-radius: 8px;
            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;

                color: #FFFFFF;
            }
        }
    }


    &__body{
        padding: 50px 0;
        display: flex;

        flex-wrap: wrap;
        justify-content: space-around;
        
    }


    &__card{
        display: flex;
        cursor: pointer;
        width: 220px;
        height: 260px;
        padding: 20px 0px ;
        text-align: center;
        background: #000;
        border-radius: 8px;
        margin: 20px 10px;
        img{
            height: 180px;
        }
        
        &:hover {
            border: 1px solid #DA00FE;
            box-shadow: 0px 0px 9px #DA00FE;
            transition: .2s ease;
            
        }

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        h3 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            
            color: #FFFFFF;
        }
        span {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            
            /* Gray Ico */
            
            color: #8A8A8A;
            
        }
        p{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height */
            
            
            /* Purple Light */
            
            color: #DA00FE;
            
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            img{
                width: 25px;
                height: 25px;
            }
            p {
                padding-left: 5px;
                color: #FFFFFF;
            }
        }
    }

}


body {
    background: #121921;
    a {
        text-decoration: none;
    }
}