@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


body {
    background: #121921;
    a {
        text-decoration: none;
    }
}


.contact {
    max-width: 1030px;
    margin: 0 auto;
    padding: 10px 20px 50px;

    display: flex;
    align-items: center;
    p {
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */


        color: #FFFFFF;
        margin-right: 20px;
    }
    a {
        margin: 0 5px;
    }
}